<!DOCTYPE html>
<html>
<head>
    <title>Account Created</title>
</head>
<body>
    <h1>Welcome, <%= user.email %> !</h1>
    <p>Your account has been created successfully. You can now log in and start using our services.</p>
</body>
</html>
