<!DOCTYPE html>
<html>
<head>
    <title>Your Daily Report</title>
</head>
<body>
    <h1>Daily Report</h1>
    <p>Here is your report for today, <%= user.name %>:</p>
    <ul>
        <li>Weather: <%= report.weather %></li>
        <li>Temperature: <%= report.temperature %>°C</li>
        <li>Tasks Completed: <%= report.tasksCompleted %></li>
    </ul>
</body>
</html>
