<!DOCTYPE html>
<html>
<head>
    <title>Weather Alert</title>
</head>
<body>
    <h1>Weather Alert for <%= alert.city %></h1>
    <p>There is a weather alert for your area: <%= alert.description %>.</p>
    <p>Please take the necessary precautions.</p>
</body>
</html>
