<!DOCTYPE html>
<html>
<head>
    <title>Your Weather Report</title>
</head>
<body>
    <h1>Weather Report for <%= weatherReport.city %></h1>
    <p>Temperature: <%= weatherReport.temperature %>°C</p>
    <p>Humidity: <%= weatherReport.humidity %>%</p>
    <p>Wind Speed: <%= weatherReport.wind_speed %> km/h</p>
</body>
</html>
